@use "../variables" as *;

.category-card-link {
  text-decoration: none;
}

.category-card {
  height: 100%;
  display: flex;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.2s ease;
  background: $background-color-white !important;
  box-shadow: none !important;
  border-radius: 8px !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  border: 2px solid #fff;

  &:hover {
    border-color: #ddd;
    border-radius: 12px;
    // box-shadow: 0px 2px 8px #2f0051 !important;
    border: 2px solid $yellow-color;
  }

  .category-img {
    width: 30%;
    height: auto;
    object-fit: contain;
    margin: 0px auto 0px;
  }

  .category-title {
    font-size: 13px;
    font-weight: 550;
    text-align: center;
    color: $theme-text-title-color;
    padding: 8px !important;
  }
}
