@use "../variables" as *;

.category-card {
  min-height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid $theme-color !important;
  box-shadow: none !important;

  transition: border-color 0.25s ease;

  @media (min-width: 600px) {
    min-height: 130px;
  }

  @media (min-width: 900px) {
    min-height: 120px;
  }

  &:hover {
    border-color: $theme-secondary-text-color !important;

    .category-title {
      color: $theme-secondary-text-color !important;
    }
  }
}

.category-img {
  width: 42px;
  height: 42px;
  margin: 0 auto;

  @media (min-width: 600px) {
    width: 48px;
    height: 48px;
  }

  @media (min-width: 900px) {
    width: 52px;
    height: 52px;
  }
}

.category-title {
  font-size: 12px !important;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.25s ease;

  @media (min-width: 600px) {
    font-size: 13px;
  }

  @media (min-width: 900px) {
    font-size: 14px;
  }
}

.MuiCardContent-root {
  padding: 8px !important;
}
