@use "./variables" as *;

.category-card-link {
  text-decoration: none;
}

.category-card {
  height: 100%;
  display: flex;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.2s ease;
  box-shadow: 0px 0px 3px #01783b;

  &:hover {
    border-color: #ddd;
    border-radius: 12px;
    box-shadow: 0px 2px 8px #01783b;
  }

  .category-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 0px auto 0px;
  }

  .category-title {
    font-size: 13px;
    font-weight: 550;
    text-align: center;
    color: $theme-text-title-color;
  }
}
