@use "../variables" as *;

.category-card {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: 1px solid $theme-border-color !important;
  box-shadow: none !important;
  font-family: $theme-font !important;
  transition: border-color 0.25s ease;
  border-radius: 50% !important;

  @media (min-width: 600px) {
    min-height: 140px;
  }

  @media (min-width: 900px) {
    min-height: 140px;
  }

  &:hover {
    border-color: $theme-tertiary-color !important;

    .category-title {
      color: $theme-tertiary-color !important;
    }
  }
}

.category-img {
  width: 30px;
  height: 30px;
  margin: 0 auto;

  /* Smooth in & out */
  transition: transform 0.6s ease;

  /* Default state */
  transform: scale(1);

  @media (min-width: 600px) {
    width: 30px;
    height: 30px;
  }

  @media (min-width: 900px) {
    width: 30px;
    height: 30px;
  }
}

.category-card:hover .category-img {
  transform: scale(1.15);
}

.category-title {
  font-size: 12px !important;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.25s ease;
  font-family: $theme-font !important;

  @media (min-width: 600px) {
    font-size: 13px;
  }

  @media (min-width: 900px) {
    font-size: 14px;
  }
}

.MuiCardContent-root {
  padding: 8px !important;
}
