@use "../variables" as *;

.growBusiness-section {
  background: linear-gradient(180deg, #1a8080 0%, #d64774 130%);
  padding: 15px;
  border-radius: 10px;
}

.growBusiness-title {
  color: $background-color-white;
  font-size: 30px !important;
  font-weight: 600 !important;
  font-family: $theme-font !important;
}

.growBusiness-text {
  color: $background-color-white;
  font-size: 14px !important;
  font-weight: 600 !important;
  font-family: $theme-font !important;
  margin-top: 10px !important;
}

.e-shop-works-title {
  font-size: 20px !important;
  color: $theme-tertiary-text-color !important;
  font-weight: 600 !important;
}

.newsletter-input-wrapper {
  position: relative;
  width: 100%;

  .custom-input-register-newsletter {
    width: 100%;
    height: 45px;
    padding: 0 50px 0 15px; // space for button
    border-radius: 6px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;

    &:focus {
      border-color: #2f0051;
    }
  }
}

.newsletter-submit-btn {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  height: 35px;
  width: 35px;
  border: none;
  cursor: pointer;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $yellow-color;
  color: #fff;
  border-radius: 6px;
  transition: 0.3s ease;

  &:hover {
    background-color: lighten($black-color, 8%);
  }
}
