@use "../variables" as *;

.expertise-box {
  background-color: #eae6ee;
}

.expertise-title {
  text-align: center;
  font-size: 22px !important;
  color: $purple-color !important;
  font-weight: 600 !important;
  text-align: center;
}

.expertise-text {
  text-align: center;
  font-size: 14px !important;
  color: $gray-color;
}

.expertiseCard {
  border-radius: 5px;
  background-color: $background-color-white;
  padding: 10px;

  .subtitle {
    color: $black-color;
    font-size: 16px !important;
    font-weight: 600 !important;
    font-family: $theme-font !important;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 5px;
  }

  .subtitle-text {
    color: $gray-color;
    font-size: 14px !important;
    font-weight: 500 !important;
    font-family: $theme-font !important;   
    text-align: center;
  }
}
