@use "../variables" as *;

.sub-header {
  background-color: #f57c00;
  padding: 10px 36px;
}

/* LEFT */
.category-btn {
  background-color: #3b3b3b !important;
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  padding: 10px 18px !important;
  border-radius: 6px !important;
  white-space: nowrap;

  &:hover {
    background-color: #2a2a2a !important;
  }
}

/* CENTER */
.center-nav {
  display: flex;
  justify-content: center;

  .nav-item {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }

  .nav-icon {
    color: #fff;
    font-size: 18px;
  }
}

/* RIGHT */
.right-section {
  display: flex;
  justify-content: flex-end;
}

.promo-badge {
  background-color: #fff;
  color: #000;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}

@media (max-width: 992px) {
  .center-nav {
    display: none;
  }

  .right-section {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .category-btn {
    width: 100%;
    justify-content: center;
  }

  .promo-badge {
    margin-top: 6px;
    text-align: center;
  }
}

.floating-categories {
  position: absolute;
  top: 160%;
  left: 0;
  width: 220px;
  height: 52vh;
  overflow-y: auto; // keep scrolling
  background: $theme-background-color;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 10px 5px;
  border-radius: 5px;
  z-index: 9999 !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  .category-wrapper {
    margin-bottom: 10px;
  }

  .category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background: $theme-tertiary-color;
    }

    .category-text {
      flex: 1;
      font-size: 13px;
      font-weight: 550;
      color: $theme-text-title-color;
    }

    .arrow {
      font-size: 18px;
      color: $theme-text-title-color;
    }
  }

  .subcategory-list {
    margin-left: 15px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .subcategory-item {
      font-size: 13px;
      cursor: pointer;
      padding: 3px 0;
      color: $theme-text-title-color;

      &:hover {
        color: $theme-tertiary-color;
      }
    }
  }
}
