@use "../variables" as *;

.product-card-link {
  text-decoration: none;
}

.product-card {
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  transition: transform 0.2s ease;
  border: 1px solid $theme-background-color !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
//  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;

  &:hover {
    border-color: $theme-tertiary-color !important;
    border-radius: 5px;
  }

  .product-card-img {
    height: 180px;
    object-fit: contain;
    background-color: #fafafa;
    border-bottom: 1px solid #f0f0f0;
  }

  .product-card-content {
    padding: 10px;
    font-family: $theme-font !important;
  }

  .product-card-price-rating {
    display: flex;
    margin-bottom: 6px;
    align-items: center;
    justify-content: space-between;

    .product-card-price {
      font-size: 18px;
      font-weight: 600;
      color: $theme-tertiary-text-color;
      font-family: $theme-font !important;
    }

    .product-card-rating {
      color: $theme-secondary-text-color;
      font-size: 13px;
    }

    @media (max-width: 576px) {
      gap: 4px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .product-card-title {
    padding: 5px 0px;
    font-size: 15px !important;
    font-weight: 500 !important;
    font-family: $theme-font !important;
    color: $theme-text-title-color !important;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* max 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product-card-sold {
    font-size: 13px;
    font-weight: 500 !important;
    font-family: $theme-font !important;
    color: $theme-tertiary-text-color;
  }

  .product-card-deli {
    display: block;
    margin-top: 5px;
    font-size: 11px;
    font-weight: 500 !important;
    font-family: $theme-font !important;
    color: $theme-text-subtitle-color !important;
  }
}
