@use "../variables" as *;

.layout {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  width: 220px;
  height: 100vh; // full screen height
  position: sticky; // stays in place while scrolling content
  top: 0;
  padding: 20px 10px;
  border-right: 1px solid #eee;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05); // subtle right shadow
  background: #fff;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 768px) {
    position: fixed;
    top: 90px;
    left: -250px;
    width: 220px;
    z-index: 999;
    height: 100vh;
    transition: left 0.3s ease;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.2);
  }

  &.open {
    left: 0 !important; // slide in on toggle
  }

  .category-wrapper {
    margin-bottom: 10px;
  }

  .category-item {
    display: flex;
    gap: 10px;
    padding: 8px 0px;
    border-radius: 6px;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    transition: background 0.2s;

    &:hover {
      background: #f9f9f9;
    }

    .category-img {
      flex-shrink: 0;
      border-radius: 50%;
    }

    .category-text {
      flex: 1;
      margin-top: 2px;
      font-size: 13px;
      font-weight: 550;
      color: $theme-text-title-color;
    }

    .arrow {
      margin-top: 2px;
      font-size: 18px;
      color: $theme-text-title-color;
    }
  }

  .subcategory-list {
    margin-left: 45px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 6px;

    .subcategory-item {
      font-size: 13px;
      color: $theme-text-title-color;
      cursor: pointer;
      padding: 4px 0;

      &:hover {
        color: #e91e63;
      }
    }
  }
}

.shop-content {
  flex: 1;
  padding: 20px 0px 20px 20px;

  .results-header {
    .title {
      font-weight: 600;
      text-transform: uppercase;
      font-family: $theme-font !important;
      color: $theme-text-title-color;
    }

    .highlight {
      color: #e91e63;
      font-weight: 600;
      font-family: $theme-font !important;
      text-transform: uppercase;
    }

    .results-count {
      display: block;
      font-size: 14px;
      margin-top: 5px;
      font-family: $theme-font !important;
      color: $theme-text-title-color;
    }
  }

  .empty-state {
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    font-family: $theme-font !important;

    img {
      margin-bottom: 15px;
    }

    p {
      font-weight: 500;
    }
  }
}

// @media (max-width: 768px) {
//   .sidebar {
//     display: none;
//   }
// }
