@use "../variables" as *;

.forgot-main-box {
  padding: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}

.forgot-form-wrapper {
  width: 100%;
  display: flex;
  padding: 50px;
  max-width: 1140px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.change-form-wrapper {
  width: 100%;
  display: flex;
  max-width: 1140px;
  align-items: center;
  padding-bottom: 50px;
  justify-content: center;
  background-color: #ffffff;
}

.forgot-form-container {
  width: 100%;
  max-width: 500px;
  font-family: $theme-font !important;

  h3 {
    color: $theme-primary-text-color;
    margin-bottom: 16px;
  }

  p {
    font-size: 16px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
  }
}

.forgot-form-title {
  margin-top: 16px;
  padding: 5px 0;
  font-size: 15px;
  font-weight: 400;
  color: #a56eb4;
  font-family: $theme-font !important;
}

.forgot-form-label {
  font-size: 14px;
  color: #6e6996;
  font-family: $theme-font !important;
  margin-bottom: 4px;
  display: block;
}

.forgot-form-required {
  color: red;
}

.forgot-button {
  width: 100%;
  background-color: $theme-primary-button-color;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: $theme-font !important;

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
