@use "./variables" as *;

.login-main-box {
  margin-top: 30px;
  font-family: $theme-font !important;
}

.login-container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 1140px;
  align-items: center;
  justify-content: space-between;
}

.form {
  width: 100%;
  text-align: left;
  background: #fff;
  padding: 20px 30px 20px 30px;

  .title {
    font-size: 20px;
    font-weight: 600;
    font-family: $theme-font !important;
    color: $theme-text-title-color;
  }

  .subtitle {
    font-size: 14px;
    color: $theme-text-subtitle-color;
    margin: 15px 0px;
  }

  .login-form-label {
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    color: $theme-label-color;
    font-family: $theme-font !important;
  }

  .login-form-required {
    color: red;
  }

  .input-field {
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 2px solid #eae8f4;
    font-family: $theme-font !important;
    color: #000;

    &:focus {
      outline: none;
      border-color: $theme-color;
    }

    &::placeholder {
      font-size: 12px;
      font-weight: 400;
      font-family: $theme-font !important;
    }

    &:hover {
      border-color: $theme-color;
    }
  }

  .login-button {
    width: 100%;
    color: #ededfc;
    font-size: 12px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: $theme-font !important;
    background-color: $theme-color;

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    .loading-icon {
      color: #fff;
    }
  }
}

.login-footer {
  font-size: 13px;
  margin-top: 20px;
  color: $theme-text-subtitle-color;
}

.remember-me-checkbox {
  color: $theme-text-subtitle-color !important;
  height: 15px !important;
  border-radius: 10px !important;
  box-shadow: none !important;

  & .MuiSvgIcon-root {
    font-size: 16px !important;
  }

  &.Mui-checked {
    color: $theme-primary-text-color !important;
    border-radius: 10px !important;
    box-shadow: none !important;
  }

  &:hover {
    background-color: transparent !important;
  }

  ~ .MuiFormControlLabel-label {
    font-size: 13px !important;
    font-family: $theme-font !important;
    color: $theme-text-title-color !important;
  }
}

.footer-link {
  margin: 10px 0;
  font-size: 13px;
  text-decoration: underline;
  color: $theme-secondary-color;
}

.banner-image-container {
  position: relative !important;
  padding-top: 56.25% !important;
  width: 100% !important;
  height: 100% !important;

  @media (max-width: 900px) {
    margin-top: 0px;
  }
}
