@use "../variables" as *;

.pnr-form-container {
  padding: 16px;
  min-height: 130px;
  background-color: #ffffff;
}

.form-container {
  padding: 24px;
  border-radius: 12px;
  margin-bottom: 80px;
  background-color: #ffffff;
}

.form-wrapper {
  border-radius: 8px;
}

.form-title {
  font-size: 18px !important;
  font-weight: 600 !important;
  color: $theme-text-title-color !important;
  font-family: $theme-font !important;
}

.form-subtitle {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: $theme-text-subtitle-color !important;
  font-family: $theme-font !important;
}

.form-label {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
  color: $theme-label-color;
  font-family: $theme-font !important;
}

.form-required {
  color: red;
}

.import-button {
  background-color: #a56eb4;
  color: #ffffff !important;
  border-radius: 2px;
  padding: 10px 60px;
  font-family: $theme-font !important;
  font-size: 12px;
  text-transform: none;
  box-shadow: none;
  border: none;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;

  &:disabled {
    opacity: 0.4;
    color: #ffffff !important;
    cursor: not-allowed;
  }
}

@media (max-width: 768px) {
  .import-button {
    margin-top: 0px;
  }
}

.submit-button {
  background-color: $theme-primary-button-color;
  color: #ffffff !important;
  padding: 12px 25px;
  font-family: $theme-font !important;
  font-size: 12px;
  text-transform: none;
  box-shadow: none;
  border: none;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;

  &:disabled {
    background: #b4b4cd !important;
    color: #ffffff !important;
    cursor: not-allowed;
  }
}

.cancel-button {
  background-color: #a9a9a9 !important;
  color: #ffffff !important;
  border-radius: 2px;
  padding: 10px 25px;
  font-family: $theme-font !important;
  font-size: 12px;
  text-transform: none;
  box-shadow: none;
  border: none;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
}

.upload-section {
  border: 2px dashed #b4b4cd;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b4b4cd;
  cursor: pointer;
  font-family: $theme-font !important;
}

.upload-section input {
  font-family: $theme-font !important;
  color: inherit;
}

.form-alert {
  color: #ff7d95;
  font-size: 12px;
}

.form-text {
  font-size: 12px;
  color: #a9a9a9 !important;
}

.css-6od3lo-MuiChip-label {
  font-size: 12px;
  font-family: $theme-font !important;
}
