@use "./variables" as *;

.flight-invoice {
  background-color: #f9f9f9;
  padding: 20px;
  font-family: "Arial, sans-serif";

  .header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .item {
      flex: 1 1 calc(33.333% - 10px);
      background-color: #fff;
      padding: 10px;
      border: 1px solid #ddd;
      text-align: center;
      border-radius: 4px;
    }
  }

  .italic-text {
    font-style: italic;
    color: #888;
  }
}
