@use "../variables" as *;

.close-icon {
  position: absolute;
  right: 60px;
  top: 45px;
  z-index: 999;
  color: #fff;
  cursor: pointer;
  background: #882c41;
  border-radius: 50%;

  @media (max-width: 960px) {
    right: 50px;
    top: 45px;
  }

  @media (max-width: 600px) {
    right: 38px;
    top: 42px;
  }
}

.popup-bg-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.centered-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  outline: none;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: 0px) and (max-width: 600px) {
    width: 100vw;
    padding-bottom: 20px; // py: 5 (5 * 4px = 20px)
  }

  @media (min-width: 600px) and (max-width: 960px) {
    width: 80vw;
    padding-bottom: 16px; // py: 4
  }

  @media (min-width: 960px) {
    width: 65vw;
    padding-bottom: 16px; // py: 4
  }
}
