@use "sass:color";



$theme-color: #3A1F5F;
$theme-secondary-color: #F6C21C;
$theme-tartiary-color:#C9A24D;
$theme-font: "Outfit", sans-serif;

$theme-body-background: #fff;
$theme-footer-bg-color: #fff;
$theme-background-color: #fff;

$theme-text-color: $theme-color;
$theme-nav-text-active-color: $theme-color;
$theme-footer-bg-color: color.adjust($theme-color, $lightness: -25%);

$theme-primary-text-color: $theme-color;
$theme-primary-button-color: $theme-color;

$theme-secondary-text-color: $theme-secondary-color;
$theme-secondary-button-color: $theme-secondary-color;

$theme-tartiary-text-color: $theme-tartiary-color;
$theme-tartiary-button-color: $theme-tartiary-color;

$theme-label-color: #333333;
$theme-text-title-color: #2b2b2b;
$theme-text-subtitle-color: #5c5c5c;


$theme-placeholder-color: color.adjust($theme-color, $lightness: 20%);
$theme-border-color: color.adjust($theme-color, $lightness: 35%);
