@use "./variables" as *;
.about-title {
  color: #000000;
  margin-bottom: 15px;
  font-family: $theme-font;
}

.about-section-title {
  color: #000000;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: $theme-font;
}

.about-section-text {
  display: block;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 14px;
  font-family: $theme-font;
}
