.span-1 {
  font-size: 12px;
  font-weight: 500;
  color: #413755;
  display: block;
  font-family: "Public Sans", sans-serif;
}

.span-2 {
  display: block;
  font-size: 12px;
  color: #413755;
  font-weight: 500;
  font-family: "Public Sans", sans-serif;
}

.span-3 {
  font-size: 10px;
  font-weight: 500;
  color: #9493bd;
  font-family: "Public Sans", sans-serif;
}

.span-4 {
  font-size: 13px;
  font-weight: 500;
  color: #413755;
  font-family: "Public Sans", sans-serif;
}

.span-5 {
  font-size: 20px;
  font-weight: 600;
  color: #413755;
  font-family: "Public Sans", sans-serif;
}

.span-6 {
  font-size: 12px;
  display: block;
  font-weight: 600;
  color: #6e6996;
  font-family: "Public Sans", sans-serif;
}

.form-header-container {
  background: #d9d5ec;
  padding: 8px;
  border-radius: 3px;
}

.form-header-title {
  font-weight: 500;
  color: #413755;
  font-family: "Public Sans", sans-serif !important;
}

.css-1ujnqem-MuiTabs-root {
  min-height: 30px !important;
}
