@use "./variables" as *;
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  box-sizing: border-box;
  color: $theme-color;
  font-family: $theme-font !important;
  padding: 5px 30px 0px 30px;
  background: $theme-background-color;

  @media (max-width: 768px) {
    padding: 5px 20px 0px 20px;
  }

  .logo-section {
    img {
      height: 50px;
      cursor: pointer;
    }
  }

  .search-bar {
    display: flex;
    height: 40px;
    overflow: hidden;
    align-items: center;
    border-radius: 25px;
    background: #ffffff;
    border: 2px solid $theme-color;

    .camera-btn {
      color: #444;
      padding: 0 12px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: none !important;
        color: #444 !important;
      }
    }

    .search-input {
      flex: 1;
      padding: 0 5px;
      font-size: 14px;
      font-family: $theme-font !important;
      border: none;
      outline: none;
      background: transparent;
      color: #000;

      &::placeholder {
        color: #888;
        font-size: 13px;
        font-family: $theme-font !important;
      }
    }

    .search-btn {
      background: $theme-color;
      color: #fff;
      padding: 0 16px;
      height: 100%;
      transition: background 0.3s;
      border-radius: 0 25px 25px 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .right-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    .cart-count {
      top: -4px;
      right: -6px;
      width: 18px;
      color: #fff;
      font-size: 11px;
      height: 18px;
      font-weight: 700;
      display: flex;
      position: absolute;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      font-family: $theme-font !important;
      background-color: $theme-secondary-color;
    }

    .icon {
      font-size: 28px;
      cursor: pointer;
      transition: color 0.3s;
    }

    .user-info {
      gap: 8px;
      display: flex;
      cursor: pointer;
      align-items: center;

      .user-name {
        font-size: 13px;
        font-weight: 500;
        color: $theme-text-title-color;
        font-family: $theme-font !important;
      }

      .user-email {
        font-size: 12px;
        color: $theme-text-subtitle-color;
        font-family: $theme-font !important;
      }

      @media (max-width: 500px) {
        .login-info {
          display: none;
        }
      }
    }
  }
}

.header-divider {
  margin: 0;
  border: none;
  border-top: 1px solid #ccc;
}

.service-dropdown {
  user-select: none;

  .service-trigger {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 6px;
    transition: background-color 0.25s ease;
  }

  .service-label {
    font-size: 15px;
    font-weight: 500;
    color: $theme-color;
    transition: color 0.25s ease;
    font-family: $theme-font !important;
  }

  .dropdown-icon {
    font-size: 22px;
    color: $theme-color;
    transition: transform 0.25s ease, color 0.25s ease;
  }

  &:hover {
    .service-label,
    .dropdown-icon {
      color: $theme-text-color;
    }

    .dropdown-icon {
      transform: rotate(180deg);
    }

    .service-trigger {
      background-color: rgba(1, 120, 59, 0.08);
    }
  }
}

/* Menu style */
.MuiMenu-paper {
  border-radius: 5px !important;
  // min-width: 120px !important;
  padding: 6px 5px;
  box-shadow: 0 14px 35px rgba(0, 0, 0, 0.12);
}

/* Menu items */
.MuiMenuItem-root {
  font-size: 14px;
  padding: 10px 20px;
  transition: background-color 0.25s ease, color 0.25s ease;
  font-family: $theme-font !important;
  color: $theme-text-color;

  &:hover {
    background-color: rgba(1, 120, 59, 0.1);
    color: $theme-text-color;
  }
}
